.App {
  text-align: center;
}

input{
 width: 100%;
 margin: 5px;
 height: 2em;
 border-radius: 10px;
}


.info{
  margin:auto;
  margin-top: 1em;
  width: 50%;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #9fcfdd57;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.p-info{
  width: 100%;
}
.e-info{
  width: 100%;
}
.w-info{
  width: 100%;
}

#info-form{
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.input-fields{
  width: 90%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.App-header {
  background-color: #282c34;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 2vmin;
  color: white;
}

#header-text{
  padding: .3em;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
